[build]
  publish = "dist/secureon-webapp/browser"
  command = "npm install --legacy-peer-deps && npm install -g @angular/cli && ng build --configuration production"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  NODE_ENV = "production"