<div class="add-incident-page-wrapper">
  <div class="add-incident-card">
    <div class="title">Add the Incident</div>
    <form (ngSubmit)="onSave()" autocomplete="off">
      <div class="form-group">
        <label>Name</label>
        <input class="input" [(ngModel)]="incident.incidentPlace" name="name" required />
      </div>
      <div class="form-group">
        <label>Description</label>
        <input class="input" [(ngModel)]="incident.description" name="description" required />
      </div>
      <div class="form-group">
        <label>Date</label>
        <input class="input" [(ngModel)]="incident.date" name="damage" required />
      </div>
      <div class="button-row">
        <button type="button" class="cancel-btn" (click)="onCancel()">Cancel</button>
        <button type="submit" class="save-btn">Save</button>
      </div>
    </form>
  </div>
</div>
