.footer {
  width: 100%;
  padding: 15px 0;
  background-color: #74C04A;
  color: white;
  text-align: center;
  font-size: 0.9em;
  position: fixed;
  bottom: 0;
  left: 0;
  font-weight: bold;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
