/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*.mat-dialog-container {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  height: 100% !important;*/
/*  margin: 0 !important;*/
/*}*/

html, body {
  height: 100%;
  overflow-y: auto;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* Global styles for search bar */
.search-card {
  max-width: 500px;
  margin: 0 auto 20px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
}

.search-container input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1em;
}

.search-icon,
.search-button {
  color: #9e9e9e;
  margin-right: 8px;
}

.search-button {
  background-color: #ffa726;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #fb8c00;
}

.centered-dialog .mat-dialog-container {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  position: fixed !important;
  margin: 0 !important;
  display: block !important;
  /*max-width: 90vw;*/
  /*max-height: 90vh;*/
}
